<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../static/styles/submit.css" />
		<title>StyleTransfEr</title>
	</head>
	<body>
		<form method="post" enctype="multipart/form-data">
			<div class="parent">
				<div class="files">
					<input
						type="file"
						name="style-image"
						class="styleIm"
						value="Choose Style File"
						accept="image/*"
					/>
					<input
						type="file"
						name="content-image"
						class="contentIm"
						value="Choose Content File"
						accept="image/*"
					/>
				</div>
				<div class="button">
					<input type="submit" value="Fuse Styles" class="fuser" />
				</div>
			</div>
		</form>
	</body>
</html>
