<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>StyleTransfEr</title>
	</head>
	<body>
		
		<form method="post" enctype="multipart/form-data">
			<input type="file" name="style-image" class="styleIm"/>
			<input type="file" name="content-image" class="contentIm"/>
			<input type="submit" class="fuser">Fuse Styles</input>
		</form>
	</body>
</html>
